<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foractivities">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo_login"
        android:label="Pahina"
        android:roundIcon="@drawable/output"
        android:supportsRtl="true"
        android:theme="@style/Theme.ForActivities">
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".ScriptActivity" />
        <activity android:name=".BookActivity" />
        <activity android:name=".DiaryActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>